#hello {
  color: white;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  background-color: black;
  height: 100%;
}

#dashboard-header {
  color: white;
}
#dashboard-container {
  margin-top: 50%;
  margin-bottom: 50%;
}

.dashboard {
  display: inline-block;
}
.icon-text {
  margin-bottom: 10px;
}

.left-column {
  float: left;
  display: grid;
}
.icon {
  display: block;
  transition: all 0.2s ease-in-out;
  color: white;
}
.icon:hover {
  transform: scale(1.1);
}
.right-column {
  float: right;
  width: 600px;
  height: 600px;
  color: white;
  background-color: white;
  border-radius: 10px;
}
#viewContainer {
  height: 600px;
  width: 600px;
  background-color: blue;
}
.balance-view {
}

#balance-shown {
}
.checkings-view {
}

#checkings-shown {
}
.savings-view {
}

#savings-shown {
}
.expenses-view {
}

#expenses-shown {
}

.inner-expense {
  display: block;
}
